.App {
  text-align: center;
  align-items: center;
  /* align-content: center;
  justify-content: center; */
  justify-items: center;
  /* min-width: '50vw'; */
}

.App-header {
  background-color: #282c34;
  height: 12vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
/* .TableContainer {
  width: 100vw;
} */